/* LANDING SECTION LINKS */
/* ********************* */

.featured-item a:link,
.featured-item a:visited {
  color: #fff5f5;
  font-weight: 700;
}
.featured-item a:hover,
.featured-item a:active {
  color: #212529;
  background-color: #fff5f5;
}

/* LANDONG SECTION 01 FIRE PRINTS */
/* ****************************** */
.featured-section_main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  row-gap: 4rem;
  column-gap: 1rem;
  padding: 6rem 0;
  text-transform: uppercase;

  background-color: #c92a2a;
  color: #fff5f5;
}

.featured-item {
  text-align: center;
}

.featured-section_main img,
.featured-section_second img {
  width: 100%;
  height: auto;
  border: 0.1rem solid white;
}

.featured-section_heading {
  grid-column: 1 / 5;
  text-align: center;
}

/* LANDING SECTION 02 LEATHER COLLECTION */
/* ************************************* */

.featured-section_second {
  display: grid;
  grid-template-columns: 1fr 33.2rem 33.2rem;
  justify-items: center;
  align-items: center;
  row-gap: 4rem;
  column-gap: 1rem;
  padding: 6rem 0;
  text-transform: uppercase;

  /* background-color: #d9480f; */
  background-color: #212529;
  color: #fff5f5;
}
